@charset "UTF-8";

input[type="submit"] {
    background-color: blue;
    color: white;
    border-radius: 5px;
    border-color: #000000;
    font-size: 14px;
    padding: 5px 10px;
  }

  input[type="submit"]:hover {
    background-color: rgba(0, 0, 255, 0.582);
    color: #ffffff;
  }